body{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.jd_layout{
	height: 100%;
}
.jd_category{
	height: 100%;
	width: 100%;
	padding-top: 45px;
	position: relative;
}
.jd_category_nav{
	width: 90px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 45px;
	z-index: 999;
}
.jd_category_nav .jd_category_nav_list{
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	/* overflow:auto;
	-webkit-overflow-scrolling: touch; ios5+
	overflow-scrolling: touch; ios5+ */

}
.jd_category_nav .jd_category_nav_list ul{

}
.jd_category_nav .jd_category_nav_list ul li{
	height: 50px;
	width: 90px;
	background: #f3f4f6;
	font-size: 12px;
	font-family: sans-serif;
}
.jd_category_nav .jd_category_nav_list ul li a{
	height: 50px;
	width: 90px;
	display: block;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.jd_category_nav .jd_category_nav_list ul li .now{
	background-color: #fff;
}
.jd_category_nav .jd_category_nav_list ul li .now a{
	border-right: none;
    color: #f15353;
}
/*分类详情*/
.jd_category_detial{
	width: 100%;
	padding-left: 90px;
	height: 100%;
	overflow: hidden;
}
.jd_category_detial .jd_category_detial_content{
	padding: 10px 12px;
}
.jd_category_detial .jd_category_detial_content .detial_banner{
	width: 100%;
}
.jd_category_detial .jd_category_detial_content .detial_banner a img{
	width: 100%;
}
/*分类*/
.jd_category_detial .jd_category_detial_content .detial_product{
    margin-top: 20px;
    font-size: 12px;
}
.jd_category_detial .jd_category_detial_content .detial_product h3{
    color: #888;
    margin-bottom: 10px;
}
.jd_category_detial .jd_category_detial_content .detial_product ul li{
    width: 33.333%;
    text-align: center;
    float: left;
}
.jd_category_detial .jd_category_detial_content .detial_product ul li img{
    display: block;
    width: 62px;
    height: 62px;
    margin:  0 auto;
}
.jd_category_detial .jd_category_detial_content .detial_product ul li p{
    line-height: 30px;
}